@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #d3b083;
}

#section {
  width: 100%;
  max-width: 1920px;
}

.container {
  width: 100%;
  padding: 12px 10px 0 10px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.dark__orange {
  color: #c27004;
  font-weight: 700;
}

.btn {
  width: 34px;
  height: 34px;
  background-color: #c27004;
  border-radius: 99px;
  border: none;
  margin-right: 12px;
  cursor: pointer;
}

/*

NAV

*/

#nav__section {
  height: 8vh;
}

.nav__img {
  width: 100px;
  height: 100px;
}

.nav__link--list {
  display: flex;
  list-style-type: none;
  cursor: pointer;
}

.nav__link {
  font-size: 16px;
  font-weight: 600;
  margin-right: 32px;
  position: relative;
}

.nav__link:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}

.nav__link:hover:after {
  left: 0;
  width: 100%;
  background-color: black;
}

.dark-or-light__img {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 500px;
  background-color: transparent;
}

/*

HEADER

*/

.header__container {
  height: 87vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__info {
  margin-right: 80px;
}

.header__title {
  font-size: 80px;
}

.header__para {
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  max-width: 350px;
  line-height: 30px;
  margin: 20px 0;
}

.social__link--buttons {
  display: flex;
  align-items: center;
}

.github,
.linkedin,
.resume {
  width: 42px;
  height: 42px;
}

.github__img,
.linkedin__img,
.resume__img {
  width: 20px;
  height: 20px;
}

.header__img {
  margin-top: 50px;
  transform: rotateY(180deg);
}

.envelope__btn {
  width: 100%;
  max-width: 72px;
  height: 72px;
  border-radius: 99px;
  border: none;
  position: fixed;
  bottom: 30px;
  right: 50px;
  background-color: #000000;
  cursor: pointer;
  transition: all 200ms ease;
}

.envelope__btn:hover {
  transform: scale(106%);
}
.envelope__btn:active {
  transform: scale(100%);
}

.envelope__img {
  color: white;
  width: 100%;
  max-width: 34px;
  height: 34px;
  position: absolute;
  bottom: 19px;
  right: 19px;
}

